body {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    padding: 40px 15vw;
    gap: 40px;
    font-family: sans-serif;
    background-color: #FFF78A;
    color: #553a2c;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.library {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 90%;
    align-self: center;
    gap: 20px;
}

table {
    width: 100%;
}

table .title {
    width: calc(70%-225px);
}

table .author {
    width: 30%;
}

table .pages {
    width: 75px;
}

table .status {
    width: 100px;
}

table .edit {
    width: 50px;
}

.add-book {
    align-self: center;
    width: 100%;
}

.add-new {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 10px;
    min-width: 100%;
    font-weight: 900;
    color: #553a2c2c;
    
}

button:hover {
    background-color: rgb(255, 227, 130);
    cursor: pointer;
    color: #553a2c87;
}

th {
    text-align: left;
}

.footer {
    align-self: center;

    a {
        text-decoration: none;
        color: #553a2c;
    }
}

.signin {
    height: fit-content;
    padding: 10px 20px;
    color:#553a2c;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-weight: 800;
}

.signin:hover {
    color:#553a2c;
}

.settings, .sort, .sort-direction, .footer a {
    display: flex;
    gap: 10px;
    align-items: center;
}

img {
    width: 20px;
    height: 20px;
    align-self: center;
    filter: invert(19%) sepia(49%) saturate(429%) hue-rotate(337deg) brightness(100%) contrast(89%);
}

.logo {
    width: 50px;
    height: 50px;
}

img.active {
    background-color: rgb(255, 227, 130);
    border-radius: 2px;
}

.sort-direction img:hover, select:hover {
    cursor: pointer;
}

select {
    background-color: transparent;
    width: 75px;
    border: none;
}

td button {
    background-color: transparent;
    border: none;
}

dialog form {
    display: flex;
    flex-direction: column;
    padding: 20px 6cqh;
    input, select {
        text-align: center;
        align-self: center;
        font-weight: 600;
        margin-bottom: 20px;
        background-color: #FFC47E;
        border: none;
        height: 30px; 
        border-radius: 5px;
    }
    input[type="text"] {
        width: 250px;
    }
    input[type="tel"] {
        width: 50px;
    }
    select {
        width: 100px;
        margin-bottom: 50px;
    }
    input[type="button"] {
        width: 80px;
        height: 40px;
        border: none;
        border-radius: 10px;
        color:white;
    }
    input[value="delete"]{
        background-color: red;
    }
    input[value="OK"]  {
        background-color: green;
    }
    input:hover {
        cursor:pointer;
    }

}

dialog {
    background-color: #FFE382;
    border: none;
    border-radius: 10px;
    box-shadow: #FFC47E 5px 5px;
}

::backdrop {
    background-color: rgba(211, 211, 211, 0.551);
}